:root{
    --fontTitle: 'Great Vibes', cursive;
    --fontPrimary: 'Quicksand', sans-serif;
    --bgColorPrimary: rgb(228, 240, 204);
    --bgColorSecundary: #ffffff;
    --grey: rgb(94, 94, 94);
    --greySecundary: rgb(198,198,198);
    --black: rgb(22, 22, 22);
    --blackSecundary: rgb(11, 11, 11);
}
/**Sniped**/
html{
    box-sizing: border-box; /**para que el padding no afecte al tamaño de un objeto **/
    font-size: 62.5%; /**Reset para REMS 10px de 16px. Para que 1rem sea igual a 10px**/
    min-height: 100%; /**Para que el fondo degradado sea fijo**/
  }
  
  body{min-height: 100%;}/**Para que el fondo degradado sea fijo**/
  
  *, *:before, *:after{box-sizing: inherit;}/**para que el padding no afecte al tamaño de un objeto **/


p{
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    margin: 0;
}
h2{
    font-family: var(--fontTitle);
    font-size: 3.6rem;
    font-weight: lighter;
}
h4{
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--grey);
    text-align: center;
}
a{
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--blackSecundary);

}
ul{
    list-style:none;
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
}


header{
    background-color: var(--bgColorPrimary);
    padding-bottom: 2.5rem;
}
.btn{
    padding: 1.5rem 2.5rem;
    border:solid .1rem rgb(22, 22, 22);
    display: inline-block;
    margin-top: 2rem;
    font-weight:600;
}
.promo-banner{
    background-color: var(--black);
    color: var(--bgColorSecundary);
    padding: 1rem;
    text-align: center;
}

.container{
    margin: 0 auto;
    max-width: 110rem;
}
/**HEADER**/
.fixed{
    position: fixed;
    top:0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(181,177,181,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(181,177,181,1);
    box-shadow: 0px 3px 5px 0px rgba(181,177,181,1);
    transition: ease-in 0.3s;
    z-index: 1000;
}
.nav-header{
    justify-content: space-between;
    background-color: var(--bgColorPrimary);
    width: 100%;
    padding: 1rem 0;
}

.nav-header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li{
    margin-right: 1rem;
    list-style: none;
    display: inline-block;
}
.hero{
    text-align: center;
    height: 50rem;
    background-image: url(../img/Hero.webp);
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact-header{
    text-align: center;
}

/**Team Section**/
.team{
    display: flex;
    justify-content: space-between;
}
.team-card{
    flex-basis: calc(50% - 2rem);
    text-align: center;
    color:var(--grey)
}
.team-card p{
    font-weight: 400;
    line-height: 1.25;
    font-size: 2.2rem;
}

/**About Us**/
.section-about{
    background-color: var(--bgColorPrimary);
    margin-top: 5rem;
}
.about{
    display: flex;
    justify-content: space-between;
}
.about h4{
    text-align: left;
}
.about-text p{
    line-height: 1.75;
    margin-bottom: 8rem;
}
.about div{
    flex-basis: calc(50% - 1rem);
}
.about-img{
    background-image: url(../img/about.webp);
    background-position: center center;
    
}

/**Galery**/
.carrousel{
    height: 40rem;
    background-color: lawngreen;
}


/**Contact**/
.contact{
    color: var(--grey);
    text-align: center;
    max-width: 50%;
    line-height: 1.75;
}
.contact h2{
    margin-bottom: 1rem;
    font-size: 4rem;
}
.contact .days{
    text-align: left;
    font-family: var(--fontPrimary);
    font-size: 1.6rem; 
}
.contact .days table{
    text-align: left;
    margin: 0 auto;
}
.selectDay{
    font-weight: 800;
}
.calendar-title{
    cursor: pointer;
}

/**Review**/
.section-review{
    background-color: var(--bgColorPrimary);
    margin-top: 6rem;
}
.review{
    background-image:url(../img/review.webp);
    background-position: center center;
    background-size: cover;
    padding: 5rem 0 15rem 0;
}
.review h2{
    color: white !important;
    font-size: 5rem;
    text-align: center;
    margin-top: 0;
}
.review-cards{
    display: flex;
    justify-content: center;
}
.review blockquote{
    background-color: white;
    font-family: var(--fontPrimary);
    font-size: 1.6rem;
    color:var(--grey);
    width: 30rem;
    padding: 4rem 3rem;
    text-align: center;
    position: relative;

}
.review blockquote span{
    font-weight: bold;
}
.review blockquote p i{
    color: rgb(245 245 15);
}
.review blockquote q{
    display: block;
    margin: 2.5rem 0;
}
.review img{
    margin-bottom: 2rem;
    border-radius: 50%;
}

.rw-fullText{
    top:0;
    left: 0;
    margin-top: 0;  
    position: absolute; 
    height: 100%;
    overflow: hidden;
}
.rw-fullText div{
    background-color: var(--bgColorPrimary);
    margin-top: 50rem;
    transition: ease-in-out 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}




/**Footer**/
footer{
    text-align: center;
    color: var(--grey);
    line-height: 2.7;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
footer p i{
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: rgb(24, 119, 242);
}
footer .fa-instagram{
    color: rgb(225, 48, 108);
}

.nav-footer a{
    margin-right: 1rem;
    color:var(--grey);
}
